@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

body{
	font-family:Chilanka,calibri;
}

#logotipo{
	width: 75px;
}

.nav-link{
	color: yellow limportant;
}

.nav-link:hover{
	color: rgb(133, 24, 177) limportant;
}
