@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    display: grid;
    height: 80%;
    place-items: center;
    background: #000;
}

.wrapper {
    max-width: 500px;
    margin-inline: auto;
}

img {
    width: 100%;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    transform-style: preserve-3d;
    pointer-events: none;
}

.image {
    flex: 1;
    aspect-ratio: 1 / 1.5;
    pointer-events: auto;
    cursor: pointer;
    -webkit-box-reflect: below 4px linear-gradient(transparent, rgba
    (0, 0, 0, 0.15));
    transition: 0.4s;
}

.image img {
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: 4px;
}

.image:hover {
    transform: scale(1.2);
}

.galeria:hover > :not(:hover){
    transform: perspective(480px) rotateY(30deg) scale(0.8);
    margin-inline: -1.5rem;
}

.image:hover ~ .image {
    transform: perspective(480px) rotateY(-30deg) scale(0.8);
}

footer {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    width: 100%;
}